= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-signin-for-regist', role: 'form', align: 'center'}) do |f|
  %h4 Forgot your password?
  .form-group
    = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Enter email you registered with.'
  .form-group
    = f.submit "Send me reset password instructions",  class: ['btn', 'btn-md', 'btn-primary']
  .form-group
    = render "devise/shared/links"
