- posts.each do |post|
  .col-md-4
    = link_to image_tag(post.cover_page_url, {height: 220, width:320}), post_path(post)
    %p
    %p
      %a.btn.btn-default{:href => "http://www.facebook.com/sharer/sharer.php?u="+post_url(post) , :target => "_blank"} Facebook share      
      %a.btn.btn-default{:href => "http://www.linkedin.com/shareArticle?mini=true&url="+post_url(post), :role => "button"} Linkedin share
      = link_to 'QR', post.qr_image_path, class: ['btn', 'btn-default', 'btn-qrcode']
	  
	  
	  
