%br
%br
%br
.alert.alert-success About PPT

%h4 1. Write PPt with markdown style.

%h4 2. Using line '---' to separate left/right slides.

%h4 3. Using line '--' to separate up/down slides.

.alert.alert-success About Options

%table.table.table-striped.table-bordered
  %tr
    %th Display controls
    %td Whether to display controls bar
  %tr
    %th Display Progress Bar
    %td Whether to display progress bar at the bottom
  %tr
    %th Display Slide Page Number
    %td Whether to display page number
  %tr
    %th Push slide change to history
    %td If chosen, each slide is a different url, browser back can be used to retrival history.
  %tr
    %th Enable keyboard
    %td Whether keyboard is enabled to control slides.
  %tr
    %th Vertical Centering of Slides
    %td Slides locates in vertical center, or it will locates in vertical top.
  %tr
    %th Loop the Presentation
    %td If the presentation loop when goes to the end.
  %tr
    %th Stop Auto-sliding After Input
    %td When Auto-sliding mode enabled, whether it can be stop by your input.
  %tr
    %th Enable Mouse Wheel
    %td Enable mouse wheel when presentation.
  %tr
    %th Hides Address on Mobile Devices
    %td Hides address bar on mobile devices or not.
  %tr
    %th Auto Slide Time
    %td Mills seconds. when set to 0, means no auto sliding.
  %tr
    %th Theme
    %td Theme of presentation, can be chosen from several template.
  %tr
    %th Transition style
    %td Slides transition styles.
  %tr
    %th Transition speed
    %td Slides transition speed.
  %tr
    %th Transition style for backgrounds
    %td Background transition style.
  %tr
    %th Parallax background image
    %td Background image url.
  %tr
    %th Parallax background size
    %td Background image size
