.jumbotron
  .container
    %br
    %br
    %br
    %h1 SildeMark
    %p= t('description')
    = link_to 'Try now', user_signed_in? ? new_admin_user_post_path(current_user) : new_user_session_path, class: [ 'btn', 'btn-primary', 'btn-lg'], role:['button']

- @posts.each_slice(3) do |sub_posts|
  .container
    .row= render partial: 'ppt', locals: { posts: sub_posts}    
    %hr/

%center= paginate @posts if @posts.present?
