%br
%br
%br
.alert.alert-success
  .glyphicon.glyphicon-user
  My PPT
= render 'layouts/messages'

- cache(cache_key_for_posts) do
  - if @posts.present?
    - @posts.each_slice(4) do |sub_posts|
      .container
        .row= render partial: 'ppt', locals: { posts: sub_posts}    
        %hr/

  %center= paginate @posts

.container
  .pull-right= link_to 'Add New', new_admin_user_post_path(current_user), class: ['btn', 'btn-lg', 'btn-warning']
