.form-group
  = t.label :title, "#{t('model.post.title')}(*)", class: ['col-sm-1', 'control-label']
  .col-sm-8
    = t.text_field :title, value: utf8(@post.title), class: 'form-control', placeholder: 'Input title'
    %p.help-block Input title within 255 characters
.form-group
  = t.text_area :content, value: utf8(@post.content)
  #editor
  #panel
%script
  var editor = ace.edit("editor");
  var textarea = $('textarea[name="post[content]"]').hide();
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/markdown");
  editor.setValue(textarea.html(), -1);
  editor.getSession().on('change', function(){
  textarea.val(editor.getSession().getValue());
  });
