.alert.alert-info
  TIPS: 
  %p Use '---' to separate left-right pages
  %p Use '--' to separate up-down pages

- if @post.errors.any?
  = render partial: 'alert_error', locals: { model: @post }
= form_for :post, method: 'post', url: posts_path, html: { class: 'form-horizontal', role: 'form' } do |t|
  = render partial: 'form', locals: { t: t}
  .form-group
    %center
      = t.submit 'save', class: ['btn', 'btn-lg', 'btn-primary']
